[submodule "repo/plugin.program.opendevtools"]
	path = repo/plugin.program.opendevtools
	url = https://github.com/drinfernoo/plugin.program.opendevtools
[submodule "repo/plugin.program.kodibuildwizard"]
	path = repo/plugin.program.kodibuildwizard
	url = https://github.com/ndeering5/plugin.program.kodibuildwizard
